img{
    width: 400px;
    display:inline-block;

}
.sect1{
    position:fixed;
    background-color:white ;
    margin-bottom: 45px;
    margin-top: -10px;
    vertical-align: top;
    display:flex;    

}
.logo,.buttonhold{
    display:inline-block;
}
.buttonhold{
    margin-left: 700px;
}
.nav_button,.gap_button{
    display: inline-block;
    background-color: white;
    margin-left: 5px;
    color:black;
    border:none;
    border-radius: 3px;
    vertical-align:text-bottom;
    text-decoration: underline;
    text-decoration-color: #BD9C6C;
    transition: text-decoration 0.15s,border-radius 0.15s,border-color 0.15s;
    cursor:pointer;

}
.gap_button{
    transition: text-decoration 0.15s,border-radius 0.15s,border-color 0.15s;
}
.nav_button:hover{
    text-decoration: none;
    border-radius: 3px;
    border-color: #BD9C6C;
    border:solid ;
    border-width: 3px;

}
.gap_button:hover{
    text-decoration: none;
    border-radius: 3px;
    border-color: #BD9C6C;
    border:solid ;
    border-width: 3px;
}
.prime{
    height:500px;
    width:500px;
    object-fit: cover;
    object-position: center;
    

}
.box2,.box3{
    display:inline-block;
    margin-left: 5px;
    width: 500px;
    background-color: #BD9C6C;
    margin-top:5px;
}
.box2{
    margin-left: 200px;
    background-color: #BD9C6C;
}
.decript,.box2_1{
    display: inline-block;
    width:500px;
    background-color: rgb(157, 151, 151);
    font-size: larger;
    color:white;
    font-weight: bolder;
    cursor:pointer;
    transition:all 0.15s;
    
}
.descript{
    background-color: white;
    cursor:pointer;

}
.program{
    vertical-align: middle;
}
.box2_1{
    height:50px;
    width: 300px;
    vertical-align: top;
    color:white;
    border-radius: 150px;
    padding-top:8px;
    vertical-align: middle;
    padding-left: 10px;
    margin-left: 5px;
    margin-top: 0px;
    line-height: 0px;
    

}
.box2_1:hover{
    background-color: #BD9C6C;
}
.descript:hover{
    color:rgb(8, 113, 188);

}
.box2,.box3{
    background-color: white;
    
}
.event{
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    vertical-align:baseline;
    
}
.ent{
    display:inline-block;

}

#ent{
    /* align-content: center; */
    display:inline-block;
}
.eventtitle,.eventimg{
    display:inline-block;
}
#titleevent{
    color:#2C2A58;
}
#shorttitle{
    color:#2C2A58;
    font-weight: 600;
    text-align: center !important;
}
.scourse,#scoursed,#onlyshort{
    align-items: center;
    text-align: center;
    
}
#scoursed{
    /* width: 500px; */
    color:#777;
    font-size: 14px;
    font-weight: 300;
      line-height: 1.625em;
}
#onlyshort{
    text-align: center;
    color:#2C2A58;
    font-size: 14px;
}
.justify-content-center {
    justify-content: center !important;
}
.d-flex {
    display: flex !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.pb-40 {
    padding-bottom: 40px;
}
.searchcourse{
    display: flex !important;
    justify-content: center !important;
    width:50%;


}
.search-course-area-relative {
    background: linear-gradient(0deg, rgba(4, 9, 30, 0.75), rgba(4, 9, 30, 0.75)), url(under_grad_main.jpg) center;
    background-size: cover;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
    
    
}

h1 {
    font-size: 36px;
}
/* below is a test */
h1, h2, h3,  h5, h6 {
    font-family: "Poppins", sans-serif;
    color: #2C2A58;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}
h4{
    font-family: "Poppins", sans-serif;
    color:  #fff;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    margin: 20px 0px;
}
.search-course-area .search-course-left p {
    font-size: 12px;
    color: white !important;
}

.text-white {
    color: #fff !important;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.single-detials{
    position: relative;
    width:50%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;    
}
.lnr-graduation-hat:before {
    content: "\e821";
}

*, *::before, *::after {
    box-sizing: border-box;
}
.search-course-area .details-content .single-detials span {
    color: #BD9C6C;
    font-size: 30px;
}
.lnr {
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.lnr-graduation-hat{
    width:50%;
}
.expercert{
    font-size: 15px;
    color: white !important;
    text-align: center;
}
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.lnr-license:before {
    content: "\e822";
}
.single-detials span {
    color: #BD9C6C;
    font-size: 30px;
}
.search-course-area .genric-btn {
    margin-top: 10px;
    align-self: center;
}
.primary-btn {
    background: #BD9C6C;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    position: relative;
}
.genric-btn {
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: .8em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.text-uppercase {
    text-transform: uppercase !important;
}
a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}
a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
a {
    color: #2C2A58;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}



/* .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
} */

  
